.github/
.vscode/
.eslintrc.json
.prettierrc.json
rollup.config.mjs
tsconfig.json
tsconfig.tests.json
scripts/**
!scripts/wrapper_win32/*
!scripts/wrapper_macOS_arm64/*
!scripts/wrapper_macOS_amd64/*
!scripts/wrapper_linux_arm64/*
!scripts/wrapper_linux_armhf/*
!scripts/wrapper_linux_amd64/*
src/
examples/
tools/

dist/*.mjs
dist/*.map
dist/*.d.ts
