.github/
.vscode/
.eslintrc.json
.prettierrc.json
rollup.config.mjs
tsconfig.json
tsconfig.tests.json
scripts/**
!scripts/wrapper.bin
!scripts/wrapper_win32/*
src/
examples/
tools/

dist/*.mjs
dist/*.map
dist/*.d.ts
